/*==================================*/
/* General Styles                   */
/*==================================*/
*{
  color: white;
}

body {
  background-color: #282c34;
}

.content {
  margin-top: 40px;
}

/*==================================*/
/* Home component Style             */
/*==================================*/
.home {
  margin-bottom: 50px;
}

/*==================================*/
/* ShowCertificate component Style  */
/*==================================*/
.showCertificate {
  margin: auto;
  width: 1100px;
}

/*==================================*/
/* Navbar Style                     */
/*==================================*/
.navbar a {
  text-decoration: none;
  color: #DFDFDF;
  font-size: 20px;
}

.navbar {
  /* background-color: #28323b; */
  background-color: #006ae3;
}

#nav_logo {
  height: 10vmin;
}

.navbar-brand {
 margin-left: 50px;
}

.navbar .active-link {
  color: white;
  font-weight: bold;
}

/*==================================*/
/* Form Style                       */
/*==================================*/
#aircraftForm form {
  margin: auto;
  width: 1100px;
  border-radius: 15px;
  background-color: #465166;

  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-top: 10px;

  margin-bottom: 50px;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 25px;
}

.form-check-label {
  margin-bottom: 25px;
}

/*==================================*/
/* Headings Style                   */
/*==================================*/
h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

/*==================================*/
/* Button Style                     */
/*==================================*/
.btn {
  margin-top: 20px;
  width: 300px;
}

/*==================================*/
/* Vertical line Style              */
/*==================================*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*==================================*/
/* Cards Style                      */
/*==================================*/
.cards {
  margin: auto;
  width: 1100px;
}

.card {
  border: #465166;
  border-radius: 15px;
}

.card-body {
  background-color: #465166;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 360px;
}

.card img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.card-text {
  hyphens: auto;
  text-align: justify;
}

.card .btn {
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

/*==================================*/
/* Aircraft part Table Style        */
/*==================================*/
td{
  color: #282c34;
}

#overview {
  width: 80%;
  margin: auto;
}

#partTable_info {
  color: white;
}

#partTable_length option {
  color: #282c34;
}

#partTable_paginate a.next{
  color: white !important;
}

#partTable_paginate a:not(.current){
  color: white !important;
}

#partTable_paginate a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.dt-button {
  margin-left:20px;
  margin-top: 0px;
  width: 100px;
}

.dt-button span{
  color: white;
}

/*==================================*/
/* Create and validate part buttons */
/*==================================*/
#create_validate {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

/*==================================*/
/* Create Aircraft part             */
/*==================================*/
#createAirCraftPart input {
    margin-right: 75px;
}

/*==================================*/
/* Validate Aircraft part             */
/*==================================*/
#validateAirCraftPart input {
    margin-left: 75px;
}

/*==================================*/
/* Icon Style                       */
/*==================================*/
#validation-icon svg{
    display: block;
    margin: 0 auto;
}

/*==================================*/
/* Show Certificate Details Style   */
/*==================================*/
#formField {
  margin-bottom: 25px;
}

#formFieldHeader {
  background-color: #465166;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#formFieldContent {
  background-color: #8E9AB0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#partIdDetails{
  width: 550px;
}

/*==================================*/
/* Disable Link to validation       */
/*==================================*/
#disabledLink.disabled-link {
  pointer-events: none;
  color: #AEAEAE;
}
